{% extends 'base.html' %}

{% block content %}

<h1>{{ object.title }}</h1>
{% comment %} <p>{{ description }}</p>   {% endcomment %}
<p>{% if object.description != None and object.description != '' %} {{ object.description }}</p> {% else %}Description Coming Soon{% endif %}</p>
<p>{{ object.price }}</p>

{% endblock %}